@import "foundation";

.preheader{
	display: none !important;
}

.gold-bg{
	background-color: $gold;
}

.gold-light-bg{
	background-color: $gold-light;
}

.header-link{
	font-size: 10px;
	padding: 7px 10px;
	text-transform: uppercase;
	a {
		color: #FFFFFF;
	}
}

.main-heading,
.main-heading-gold {
	text-transform: uppercase;
	margin: 0 !important;
}

.main-heading-gold{
	color: $light-gold;
}

.sub-heading{
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
}


.body-text{
	color: black;
	line-height: 24px;
	margin-bottom: 0;
}




.social-links{
	padding: 10px;
}

.btn{
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 8px;
	border: solid 2px #000;
	color: #000;
	display: inline-block;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase;
}
