@import "foundation";

.preheader{
	display: none !important; 
	font-size: 1px;
	line-height: 1px; 
	max-height: 0px; 
	max-width: 0px; 
	opacity: 0; 
	overflow: hidden; 
	visibility: hidden;
	display: none !important;
}

.gold-bg{
	background-color: $gold;
}

.gold-light-bg{
	background-color: $gold-light;
}

.header-link{
	font-size: 10px;
	padding: 7px 10px;
	text-transform: uppercase;
	a {
		color: #FFFFFF;
	}
}

.main-heading,
.main-heading-gold {
	text-transform: uppercase;
	margin: 0 !important;
}

.main-heading-gold{
	color: $light-gold;
}

.sub-heading{
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
}


.body-text{
	color: black;
	line-height: 24px;
	margin-bottom: 0;
}

.social-links{
	padding: 10px;
}

table.button {
  table {
    td {
			padding: map-get($button-padding, default);
      a {
        padding: 0;
      }
    }
  }
}
