<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
	<link rel="stylesheet" href="../css/styles.css" inline>
	<title>Resort hotel in America</title>
</head>
<body>
	<span class="preheader">{{description}}</span>
  <table class="body">
		<td class="center" align="center" valign="top">
			<tr>
        <center>				
					<container align="center">
						<table class="menu gold-bg float-center">
							<tbody>
								<tr>
									<td>
										<table align="right">
											<tbody>
												<tr>
													<th class="header-link float-center"><a href="#">Activities</a></th>
													<th class="header-link float-center"><a href="#">Meetings</a></th>
													<th class="header-link float-center"><a href="#">Loging</a></th>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					
					
					<container>
						<center>
							<a href="#"><img src=https://worldsbest.edgewoodtahoe.com/images-for-email/new-year/new-year-hero.jpg alt="Edgewood Tahoe"></a>
						</center>
					</container>
					
					<container align="center">
						<row>
							<columns small="12" large="1" columns first></columns>
							<columns small="12" large="10" columns>
								<spacer size="50"></spacer>
								<h2 class="main-heading-gold text-center">ROOM FOR YOUR ENTOURAGE TO BE Themselves.</h2>
								<spacer size="10"></spacer>
								<p class="body-text text-center">
									With the holidays on their way and Heavenly Ski Resort opening November
									16, now is the perfect time to discover why Edgewood Tahoe is the #1
									Resort Hotel in America. Here, you’ll experience exhilarating days and
									festive nights in a winter paradise—racing down snow-covered slopes,
									indulging in best-in-class Aprés Ski delicacies, and relaxing with loved
									ones at the water’s edge.
								</p>
								<spacer size="25"></spacer>
								<center>
										<button href="#">Book with us</button>
								</center>				
									
							</columns>
							<columns small="12" large="1" columns last></columns>
						</row>	
						
						<spacer size="80"></spacer>
						<center>
							<img src="https://worldsbest.edgewoodtahoe.com/images-for-email/new-year/decor.png" alt="decoration-line">
						</center>
						<spacer size="15"></spacer>					
					</container>
					
					<container class="align-center gold-light-bg">
						<spacer size="25"></spacer>
						<h2 class="main-heading text-center">ACTIVITIES & EVENTS</h2>
						<spacer size="35"></spacer>
						
						<row class="collapse">
							<columns small="1" large="1" columns first></columns>
							<columns small="4" large="4" columns>
								<table>
									<tbody>
										<tr>
											<th>
												<img class="float-center" src="https://worldsbest.edgewoodtahoe.com/images-for-email/new-year/toast.jpg" alt="">
												<h3 class="sub-heading  float-center text-center">A toast</h3>
												<p class="body-text float-center text-center">
													Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
													nonummy nibh euismod tincidunt ut laoreet.
												</p>			
												<spacer size="30"></spacer>
												<center><button href="#">Discover more</button></center>
												<spacer size="30"></spacer>	
											</th>
										</tr>
									</tbody>
								</table>
							</columns>
							<columns small="2" large="2" columns></columns>
							<columns small="4" large="4" columns>
								<table>
									<tbody>
										<tr>
											<th align="center">
												<img class="float-center" src="https://worldsbest.edgewoodtahoe.com/images-for-email/new-year/waltz.jpg" alt="">
												<h3 class="sub-heading float-center text-center">The Wailtz</h3>
												<p class="body-text float-center text-center">
													Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
													nonummy nibh euismod tincidunt ut laoreet.
												</p>
												<spacer size="30"></spacer>	
												<center><button href="#">Discover more</button></center>
												<spacer size="30"></spacer>	
											</th>
										</tr>
									</tbody>
								</table>
							</columns>
							<columns small="1" large="1" columns last></columns>
						</row>
					</container>

					<container align="center">
						<spacer size="50"></spacer>
						<h2 class="main-heading-gold text-center">PROPERTY AMENITIES</h2>			
						<spacer size="30"></spacer>
						<container>
						<row class="collapse">
							<columns small="6" large="6" columns first>
								<div style="text-align: right">
								<a class="float-right" href="#"><img class="float-right"  src="https://worldsbest.edgewoodtahoe.com/images-for-email/rhombus/holidays.png" malt=""></a> 
								<a href="#"><img class="float-right" src="https://worldsbest.edgewoodtahoe.com/images-for-email/rhombus/dining.png" alt=""></a> 
								<a href="#"><img class="float-right" src="https://worldsbest.edgewoodtahoe.com/images-for-email/rhombus/golf.png" alt=""></a> 
								<a href="#"><img class="float-right" src="https://worldsbest.edgewoodtahoe.com/images-for-email/rhombus/adventure.png" alt=""></a> 
							</div>
							</columns>
							<columns small="6" large="6" columns last>
								<a href="#"><img src="https://worldsbest.edgewoodtahoe.com/images-for-email/rhombus/spa.png" alt=""></a> 
								<a href="#"><img src="https://worldsbest.edgewoodtahoe.com/images-for-email/rhombus/pool.png" alt=""></a> 
								<a href="#"><img src="https://worldsbest.edgewoodtahoe.com/images-for-email/rhombus/holidays.png" alt=""></a> 
								<a href="#"><img src="https://worldsbest.edgewoodtahoe.com/images-for-email/rhombus/events.png" alt=""></a>
							</columns>
						</row>
					</container>
					<container>
						<spacer size="50"></spacer>	
						
						<a href="#"><center><img src="https://worldsbest.edgewoodtahoe.com/images-for-email/new-year/flights-section.jpg" alt="map"></center></a>		
						
						<spacer size="12"></spacer>	
						<center>
							<img src="https://worldsbest.edgewoodtahoe.com/images-for-email/new-year/footer-decor.png" alt="decoration-line">
						</center>
						<spacer size="40"></spacer>
						
						<a href="#"><center><img src="https://assets.navisperformance.com/Assets/15402/TD/Images/edgewood-logo-bigger_20181101152005.png" alt="footer logo"></center></a>
						
						<spacer size="40"></spacer>
						
						<center>
							<button href="#">Book with us</button>
						</center>
						
				
							<img src="https://worldsbest.edgewoodtahoe.com/images-for-email/footer-gold.png" height="300px" style="display: block" alt="footer photo">
					
					
					
					
						<row class="collapce gold-bg">
							<columns small="1" large="1" columns first></columns>
							<columns small="10" large="10" columns>
								<spacer size="30"></spacer>
								<table align="center" class="menu">
									<tr>												
										<th class="social-links float-center" href="#"><img src="https://assets.navisperformance.com/Assets/15402/TD/Images/facebook_20181031211442.png" alt="facebook link"></th>
										<th class="social-links float-center" href="#"><img src="https://assets.navisperformance.com/Assets/15402/TD/Images/youtube_20181101102800.png" alt="youtube link"></th>
										<th class="social-links float-center" href="#"><img src="https://assets.navisperformance.com/Assets/15402/TD/Images/twitter_20181101102651.png" alt="twitter link"></th>
										<th class="social-links float-center" href="#"><img src="https://assets.navisperformance.com/Assets/15402/TD/Images/pinterest_20181101102503.png" alt="pinterest link"></th>
										<th class="social-links float-center" href="#"><img src="https://assets.navisperformance.com/Assets/15402/TD/Images/owl_20181101102426.png" alt="owl link"></th>				
										<th class="social-links float-center" href="#"><img src="https://assets.navisperformance.com/Assets/15402/TD/Images/instagram_20181101102014.png" alt="instagram link"></th>
									</tr>
								</table>

								<spacer size="50"></spacer>

								<row class="collapse">
									<columns valign="middle" small="3" large="3" columns first>
										<a href="#"><img class="float-center" src="https://assets.navisperformance.com/Assets/15402/TD/Images/worldsbest-logo_20181101140413.png" width="71" height="69" alt="Partner logo"></a>
									</columns>
									<columns valign="middle" small="3" large="3" columns >
										<a href="#"><img class="float-center" src="https://assets.navisperformance.com/Assets/15402/TD/Images/leed-logo_20181101140351.png" width="109" height="44" alt="Partner logo"></a>
									</columns>
									<columns valign="middle" small="3" large="3" columns>
										<a href="#"><img class="float-center" src="https://assets.navisperformance.com/Assets/15402/TD/Images/lvx_20181101140039.png" width="112" height="69" alt="Partner logo"></a>
									</columns>
									<columns valign="middle" small="3" large="3" columns last>
										<a href="#"><img class="float-center" src="https://assets.navisperformance.com/Assets/15402/TD/Images/prefer-logo_20181101140405.png" width="70" height="60" alt="Partner logo"></a>
									</columns>				
								</row>				
							</columns>
							<columns small="1" large="1" columns last></columns>
						</row>
					</container>
			
				</center>
			</tr>
		</td>
  </table>
  <!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>

</body>
</html>

